<%= form_for @post, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' %>
    </div>
  </div>
  <br>
  <p><%= f.file_field :avatar %></p>

  <% if policy(@post).update? %>
  <div class="control-group">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>
  <% end %>
  <div class="form-actions">
    <button type='submit' class='btn btn-primary'>Create Post</button>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>
